---
import BaseLayout from '../layouts/BaseLayout.astro';
import { Image } from 'astro:assets';
import about from '../assets/about.webp';
import { aboutData } from '../data/about'; // 导入本地数据
---

<BaseLayout>
  <main class="container about">
    <h1>About <span>{aboutData.companyName}</span></h1>
    <p>
      {aboutData.description}
    </p>
    <div class="row">
      <div class="col-md-6 overflow">
        {aboutData.sections.map((section) => (
          <div>
            <h3>{section.title}</h3>
            <p>{section.content}</p>
          </div>
        ))}
      </div>
      <div class="col-md-6">
        <Image src={about} alt="Jieying backend management system statistics"/>
      </div>
    </div>
  </main>
</BaseLayout>

<style>
  .about {
    color: #585f69;
    text-align: center;
    margin-top: 80px;
    margin-bottom: 80px;
  }
  .about > h1 span {
    color: #72c02c;
  }
  .about > p {
    font-size: 16px;
    margin-bottom: 60px;
  }
  .about > .row {
    text-align: left;
  }
  .about > .row > div {
    display: flex;
    justify-content: flex-start;
    align-content: center;
    flex-wrap: wrap;
  }
  .about > .row > div > img {
    max-width: 100%;
    height: auto;
  }
</style>